

  /* all the styling below*/
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    /* Add more src lines for other weights and styles (e.g., Bold, Italic) */
    font-weight: normal; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}

  .page_layout{
    background-color: #f0ebf8;
    height: 100%;
    padding-bottom: 30px;
    width: 100%;
    font-family: 'Roboto'; 
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust 60px according to the height of your .form_header */
    overflow-y: auto;/* Add scrollbars if content overflows vertically */

  }

  .section{
    margin: 0 auto;
    display: flex;
    position: relative;
    
    
    /* align-items: center; */
  }

  .form_container{
    display:flex;
    flex-direction: column;
    width: 800px;
    
    }

  .form_container-response{
    display:flex;
    flex-direction: column;
    width: 640px;
  }


  .form_container_top{
    background-color: #fff;
    border-top: 8px solid rgb(103, 58, 183);
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .form_container_top_title{
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 350;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f4f4f9;
    color: black;
    height: 35px;
    margin-bottom: 20px;

  }

  .form_container_top_desc{
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f4f4f9;
    color: black;
    height: 20px;
  }

  .question-box{
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
   
  }

 
  .question_container{
    width: 100%;
  }

  .question-box_header_question{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.5;
    letter-spacing: 0;
    width: 424px;
    height: 50px;
    padding: 16px;
    box-sizing: border-box;
    border: none; /* Remove default border */
    outline: none; /* Remove default focus outline */
   

  }
  
  
  .question-box_header_question:hover {
    background-color: #f0f0f0;
  }

  .question-box_header{
    display: flex;
    justify-content: space-between;
  }

  .question-box_header_question-type {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    font-family: 'Roboto';
    width: 220px;
    box-sizing: border-box;
    
  
  }

  .question-box_header_question-type_select{
    border: none;
    margin-top: 12px;
    margin-left:48px;
    background-color: white;
    outline: none;
  }

  .question-box_header-style{
    display:flex;
    gap: 10px;
    margin-top: 5px;;
  }

  .question-box_header-style button{
    border:none;
    background-color: white;
  }


  .question-box_option-block{
    display: flex;
    width:auto;
    gap: 5px;

  }

  .question-box_option-block_option-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11pt;
    width: 540px;
    border: none;
    outline: none;
    border-bottom: 2px solid purple;

  }

  .question-box_option-block_option-close{
    border: none;
    background-color: white;
    outline: none;
  }

  .question-box_add-option button{
    border: none;
    background-color: white;
    font-size: 11pt;
    outline: none;
  }

  .question-box_footer{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 40px;
    border-top: 1px solid  rgb(156, 155, 155);
    padding-top: 30px;
  }

  .question-box_footer button{
    background-color: white;
    border:none;
  }
  .question-box_short-answer{
    display:flex;
  }

  .question-box_short-answer_placeholder {
    border-bottom: 1px dotted #000;
    width: 100%;
    padding-bottom: 5px;
    color: #999;
    font-style: italic;
    margin-left: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}
th {
  background-color: #f4f4f4;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.response-submit{
  color: #fff; 
  background-color: #7349bd; 
  font-family:'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  width: 96px;
  border-radius: 5px;
}

.publish-button{
  color: #fff; 
  background-color: #7349bd; 
  font-family:'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  width: 96px;
  border-radius: 5px;
  text-align: center;
}

.form_container_top_user-details{
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: gray;
  height: 20px;
}

.response-text-area{
  width:100%;
  margin-left: 10px;
  border:none;
  outline:none;
}

.response-quesitons{
    font-family: 'Roboto';
    color:#000;
    font-weight: 500;
    font-size: 12pt;
    line-height: 1.5;
    letter-spacing: 0;
    width: 424px;
    height: 50px;
    padding: 16px;
    box-sizing: border-box;
    border: none; /* Remove default border */
    outline: none; /* Remove default focus outline */
   
}

.sidebar{
  background-color: white;
  margin-left: 13px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;
  height: 50px;
  margin-top:0px;
  transition: margin-top 0.5s ease-in-out; /* Adjust the duration and easing function as needed */
  /* overflow-y: auto; */
}


.submit-button{
  color: #fff; 
  background-color: #7349bd; 
  font-family:'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  width: 96px;
  border-radius: 5px;
  text-align: center;
  margin-left:328px;
  margin-top: 10px;
}

.add-question-button{
  border:none;
  background-color: white;
}

.question-box.active {
  border-left: 6px solid #1a73e8;
}

.update-form-button{
  color: #fff; 
  background-color: #7349bd; 
  font-family:'Roboto';
  font-weight: 500;
  padding: 10px;
  border: none;
  width: 96px;
  border-radius: 5px;
  text-align: center;
  margin-left:365px;
  margin-top: 10px;
}


.checkbox-inline input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 40px;
  height: 20px;
  background: #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s;
  margin-left:15px;
}

.checkbox-inline input[type="checkbox"]:checked {
  background: #2196F3;
}

.checkbox-inline input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background: #fff;
  transition: transform 0.3s;
}

.checkbox-inline input[type="checkbox"]:checked::before {
  transform: translateX(20px);
  
}

.sortable-placeholder {
  border: 1px dashed #ccc;
  height: 100px; /* Adjust height as needed */
  background: #f9f9f9;
}



 

